.noSuggestions {
  color: #757575;
  margin-top: 4px;
  padding: 8px 8px;
  background: #ffffff;
  font-style: italic;
  font-size: 12px;
  width: 100%;
}

.error {
  color: red;
  margin-top: 8px;
}
