.suggestionsList {
  list-style: none;
  margin-top: 4px;
  padding: 8px 8px;
  background: #ffffff;
  border: 1px solid #cccccc;
  width: 100%;
  max-height: 40vh;
  overflow-y: auto;
  z-index: 1;
  & li {
    padding: 8px;
    cursor: pointer;
  }
}

.suggestionHighlighted {
  background-color: #bde4ff;
}

.textBold {
  font-weight: bold;
}
